<div class="payment-form klarna-invoice-form" id="klarnaInvoice">
    <h3>Rechnung: In 14 Tagen bezahlen</h3>

    <span id="invoicexx"></span>

    <script src="https://cdn.klarna.com/public/kitt/core/v1.0/js/klarna.min.js"></script>
    <script src="https://cdn.klarna.com/public/kitt/toc/v1.1/js/klarna.terms.min.js"></script>

    <script>
        new Klarna.Terms.Invoice({
            el: 'invoicexx',
            eid: '{{ form.klarnaInvoice.vars.attr.EID }}',
            locale: 'de_DE',
            charge: 0,
            type: 'desktop'
        });
    </script>

    {% include '@klarna/error-invoice.twig' %}

    <div id="paymentForm_klarna_invoice">
        {% for key, formRow in form.klarnaInvoice.children %}
            <div>
                {% if formRow.vars.name == 'terms' %}
                    {{ form_widget(formRow) }}
                    <label for="paymentForm_klarna_invoice_terms">
                        Mit der Übermittlung der für die Abwicklung der gewählten Klarna Zahlungsmethode und einer Identitäts– und Bonitätsprüfung erforderlichen Daten an Klarna bin ich einverstanden. Meine
                        <a href="http://cdn.klarna.com/1.0/shared/content/legal/terms/{{ form.klarnaInvoice.vars.attr.EID }}/de_de/consent" >Einwilligung</a>
                        kann ich jederzeit mit Wirkung für die Zukunft widerrufen. Es gelten die
                        <a href="/de/agb">AGB des Händlers</a>.
                    </label>
                {% else %}
                    {{ form_label(formRow) }}
                    {{ form_widget(formRow) }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {#{{ form_widget(form.klarnaInvoice) }}#}
    <br/>

</div>
<script>
    var errorMsgDateBirthMandatory = "Geburtsdatum ist obligatorisch";
    var errorMsgDateBirthWrong = "Geburtsdatum falsch";
    var errorMsgPNOMandatory = "PNO ist obligatorisch";
    var errorMsgTermsMandatory = "Bedingungen ist obligatorisch";
    var errorMsgPaymentTypeMandatory = "Zahlungsart ist obligatorisch";
</script>
